[Unit]
Description="Power Button Monitor"
Wants=gpio-initial.service
After=gpio-initial.service

[Service]
Restart=always
ExecStart=/usr/sbin/power-button-monitor
SyslogIdentifier=power-button-monitor

[Install]
RequiredBy={SYSTEMD_DEFAULT_TARGET}
