[Unit]
Description=Timesync with RTC in PCH

[Service]
Restart=no
ExecStart=/usr/sbin/sync-pch-rtc.py
SyslogIdentifier=sync-pch-rtc
#Type=dbus
#BusName=org.openbmc.HostIpmikcs
TimeoutSec=infinity

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
