[Unit]
Description=MiTAC DCMI Power
Requires=xyz.openbmc_project.psusensor.service
After=xyz.openbmc_project.psusensor.service

[Service]
Restart=always
ExecStart=/usr/bin/env mct-dcmi-power
SyslogIdentifier=mct-dcmi-power
TimeoutSec=infinity

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
