[Unit]
Description=BMC Hardware Watchdog Daemon

[Service]
EnvironmentFile=/etc/default/obmc/system-watchdog/system-watchdog.conf
ExecStart=/sbin/watchdog -T ${{TIMEOUT}} -t ${{INTERVAL}} -F ${{DEVICE}}
ExecStop=/sbin/devmem 0x1e78502c 8 0
KillSignal=SIGKILL

[Install]
WantedBy=basic.target