[Unit]
Description=Update CATERR status
After=xyz.openbmc_project.gpiosensor.service
Want=xyz.openbmc_project.gpiosensor.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env caterr_update
SyslogIdentifier=caterr_update

