[Unit]
Description=deassert Prochot0 

[Service]
Type=oneshot
ExecStart=/usr/bin/env prochot_update.sh deassert CPU0_State
SyslogIdentifier=prochot0_deassert

