[Unit]
Description=assert Prochot0 

[Service]
Type=oneshot
ExecStart=/usr/bin/env prochot_update.sh assert CPU0_State 
SyslogIdentifier=prochot0_assert

