[Unit]
Description=deassert Prochot0 
StartLimitIntervalSec=6
StartLimitBurst=1

[Service]
Type=oneshot
ExecStart=/usr/bin/env prochotThermtripHandler deassert CPU0_State prochot
SyslogIdentifier=prochot0_deassert
RemainAfterExit=true