[Unit]
Description=assert Thermtrip 

[Service]
Type=oneshot
ExecStart=/usr/bin/env prochotThermtripHandler assert CPU_State thermtrip
SyslogIdentifier=thermtrip_assert

