[Unit]
Description=Phosphor Multi GPIO monitor
Before=phosphor-discover-system-state@0.service
After=org.openbmc.control.Power@0.service
After=xyz.openbmc_project.State.Host.service

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=0
ExecStart=/usr/bin/phosphor-multi-gpio-monitor --config /usr/share/phosphor-gpio-monitor/phosphor-multi-gpio-monitor.json
SyslogIdentifier=phosphor-multi-gpio-monitor

[Install]
WantedBy=multi-user.target
