[Unit]
Description=Timesync Initialize

[Service]
Restart=no
ExecStart=/usr/sbin/sync-time-initial.py
SyslogIdentifier=sync-time-initial
TimeoutSec=infinity

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
