[Unit]
Description=MiTAC BMC booting finish
After=xyz.openbmc_project.Logging.IPMI.service
After=xyz.openbmc_project.Settings.service
After=phosphor-ipmi-host.service
After=xyz.openbmc_project.EntityManager.service
After=multi-user.target

[Service]
Restart=simple
ExecStart=/usr/bin/env bmc-booting-finish.sh
SyslogIdentifier=mct-bmc-booting-finish
TimeoutSec=infinity

[Install]
WantedBy=basic.target